/* May 2014 - Some CSS overrides for v2 of Google Custom Search Engine */

#container
{
	background-color: #FFFFFF !important;
}

.recently_launched
{
	background-color: #F3F3F3 !important;
}

.gsc-control-cse
{
	border: none !important;
}

.gsc-result-info-container
{
	display: none !important;
}

.gsc-above-wrapper-area
{
	border: none !important;
	padding: 0px !important;
}

.gsc-webResult.gsc-result
{
	margin-bottom: 4px !important;
}

.gsc-table-result
{
	padding-left: 0px !important;
	margin-left: 12px !important;
	width: 98% !important;
}

.gs-per-result-labels
{
	padding-top: 2px !important;
}

.gs-title *
{
	font-size: 18px !important;
}

.gsc-url-top
{
	padding-top: 2px !important;
}

.gsc-cursor-box
{
	padding-top: 16px !important;
}

.gsc-cursor
{
	font-size: 22px !important;
}

.gsc-cursor-page
{
	margin-right: 24px !important;
	background-color: #FFFFFF !important;
	padding: 4px 8px 4px 8px !important;
	border: 1px solid #cccccc !important;
}