img, a img, img, a:hover img {
	border:none;
	text-decoration: none;
}
.homePage #container{
	padding:5px;
}
.homePage .titleLi,
.homePage .searchClassi h4,
.homePage .homeThreads h4,
.homePage .homeReview .title,
.homePage .primBlock h4 {
	cursor: pointer;
}
.homePage #leftColumn {
	width:620px;
}

.homePage #sidebar, .homePage #sidebar1  {
	padding:0;
	width:300px;
}
.marR12 {
	margin-right:12px;
}
.disBlock {
	display:block;
}
.w420 {
	width:420px;
}

/* @group page banners Styles */	
.homeBanner { position:relative; height:230px; margin-bottom:10px; z-index:0; }

#highlights .bannerTabs { position: absolute; left:0; bottom:0; background:url(../images/home/travelListBg.png) repeat left top; width: 100%; z-index: 999; }
#highlights ul { float:left; height:38px; z-index: 100;}
#highlights li { 
		float: left; 
		height:11px; 
		width: 11px; 
		background-color: #666; 
		margin:13px 0 0 10px; 
		padding:1px;
		cursor: pointer;
		-moz-border-radius:2px;
}
	
#highlights ul li.active { 
	border:1px solid #fff; 
	padding:0;
	background-color:#A91926;
}	
.banner {
	height:230px;
	position:absolute;
	left:0;
	top:0;
	width:100%;
}
.banner a {
	display:block;
	height:230px;
	width:100%;
}
.homeBanner1 { background:url(../images/home/banner1.jpg) no-repeat left top; }
.homeBanner2 { background:url(../images/home/banner2.jpg) no-repeat left top; }
.homeBanner3 { background:url(../images/home/banner3.jpg) no-repeat left top; }
.homeBanner4 { background:url(../images/home/banner4.jpg) no-repeat left top; }

#nextBanner {
	width:8px;
	height:10px;
	margin:15px 10px 0 0;
	background-position:left -2480px;
}

#bannerTitle {
	font:bold 24px/28px Tahoma;
	color:#fe8c05;
	margin:4px 10px 0 0;
}
#bannerTitle a {
	color: inherit;
	text-decoration: none;
}
/* @end */

/* @group Got BHP box (previously: Search Classifieds) Style */
.searchClassi {
	margin-bottom:10px;
}
.searchClassi h4 {
	font:bold 24px/40px Tahoma;
	background:#A81926 url(../images/red-tabbg.png) repeat-x left top;
	color:#fff;
	padding:0 15px;
}
.searchContent {
	border:1px solid #000;
	height:187px;
	overflow:hidden;
}
.searchContent a, .searchContent li {
	display:block;
	font:normal 14px/47px Tahoma;
	color:#fff;
	height:47px;
}
.searchContent li {
	background:url(../images/searchContentBg.png) repeat-x left top;
}
.searchContent a {
	background:url(../images/sprites/getbhpdicons.png) no-repeat 176px 12px;	
	_background:url(../images/sprites/getbhpdicons-8.png) no-repeat 176px 12px;	
	padding-left:28px;
}
.searchContent a:hover {
	text-decoration:underline;
}
a.sedans {
	background-position:175px -34px;
}
a.SUV {
	background-position:20px -139px;
	display:inline-block;
	float:left;
}
a.luxury {
	background-position:20px -210px;
	display:inline-block;
	float:left;
}

.facebookclickable {
	display:inline-block;
	padding-left:90px;
	padding-top:13px;
}

.fb-like.fb_iframe_widget span{
  vertical-align: top !important;
}

.twitterclickable {
	display:inline-block;
	padding-left:107px;
	padding-top:5px;
}
/* @end */

/* @group homeTab Style */
.homeTab {
	margin-bottom:10px;
}
.homeTab .titleLi {
	font:bold 24px/28px Tahoma;
	color:#fff;
	border-right:1px solid #8b1519;
	margin-top:-3px;
	padding:6px 20px;
}
.homeTab .secondLi {
	border-left:1px solid #d15458;
	padding-left:15px;
}
.homeTab .tab_container {
	padding:10px;
	background:#3c3c3e url(../images/home/homeNewsBg.png) repeat-x left top;
}
.homeCarList li {
	display: inline-block;
	margin-right: 10px;
	width: 180px;
	vertical-align: top;
	zoom:1;
	*display:inline;
}
.noNewsHome {
	font:normal 18px/22px Tahoma;
	color:#747474;
	text-align:center;
	padding:101px 0;
}
.homeCarList span {
	float:left;
	width:70px;
	height:53px;
	overflow:hidden;
	background-color:#fff;
	border:1px solid #CBCACA;
	text-align:center;
	display:table;
	position: relative;
	*display:block
}
.homeCarList strong {
	*position: absolute;
	*left:50%;
	*top: 50%;
	display: table-cell;
	vertical-align: middle;
	font-size: 0px;
	line-height: 0;
	
}
.homeCarList img {
	*position: relative;
	*top: -50%;
	*left:-50%;

}
.homeCarList em  {
	font-style: normal;
	color: #fff;
	display: block;
	padding-left: 83px;
}
.homeCarList a {
	display:block;
	width:179px;
	padding:10px;
	font:normal 13px/15px Tahoma;
	color:#333;
	border: solid transparent 1px;
}
.homeCarList a:hover {
	background-color:#2c2c2e;
	border: solid #414143 1px;
	text-decoration:none;
}
/* @end */

/* @group homeReviewList Style */
.homeReview h4 {
	background:url(../images/home/reviewBg.png) repeat-x left top;
}
.homeReview .title {
	float:left;
	font:bold 24px/40px Tahoma;
	color:#fff;
	padding:0 20px;
	border-right:1px solid #242222;
}
.homeReview .options {
	float:left;
	padding:10px 20px;
	border-left:1px solid #545454;
}
.homeReview select {
	font:normal 12px/16px Tahoma;
	color:#3d3d3f;
	width:120px;
}
.reviewContent {
	border:1px solid #cbcaca;
	border-top: none;
	background-color: #fff;
	padding:10px;
}
.reviewList {
	_margin-bottom:10px;
	}
.reviewList li {
	float:left;
	width:175px;
	height:131px;
	border:1px solid #cbcaca;
	overflow:hidden;
	margin:10px 12px 10px 10px;
	position:relative;
	_margin:8px 9px 11px 8px;
	zoom:1;
	text-align: center;
}
.reviewList a:hover {
	text-decoration: none;
}
.reviewList span {
	position:absolute;
	bottom:0;
	left:0;
	padding:0 7px;
	font:normal 14px/22px Tahoma;
	color:#fff;
}
.reviewList b {
	position:absolute;
	bottom:0;
	left:0;
	background-color:#000;
	opacity:0.6;
	width:100%;
	height:21px;
}
.reviewList b:hover {
	text-decoration: none;
}
.reviewList b span:hover,
.reviewList b:hover span {
	text-decoration: none;
}
.reviewList a:hover b {
	opacity:1;
	text-decoration: inherit;
	border-bottom: none;
}
.reviewList a:hover span {
	text-decoration: inherit;
	border-bottom: none;
}
/* @end */

/* @group homeThreads Style */
.homeThreads h4 {
	font:bold 24px/40px Tahoma;
	color:#fff;
	background:url(../images/cta/hot-trends/hot-trendsbg.png) repeat-x left top;
	padding:0 15px;
}
.threadsList {
	border:1px solid #cbcaca;
	border-top: none;
	background-color: #fff;
	padding:0 2px 10px 2px;
}
.threadsList ul {
	margin-bottom:13px;
}
.threadsList li {
	background:url(../images/home/threadsLiBg.png) repeat-x left bottom;
	padding:9px 10px 10px 15px;
}
.threadsList li a {
	font:normal 14px/18px Tahoma;
	color:#333;
	display:block;
	padding-right: 25px;
	background-position:right -2397px;
}
.threadsList li a:hover {
	color:#000;
	text-decoration:underline;
}
/* @end */

/* @group whatCar Style */
.whatCar {
	margin-bottom:10px;
}
.whatCar li {
	float:left;
}
.whatCar li.first {
	width:234px;
	text-align:center;
	font:bold 24px/28px Tahoma;
	color:#fff;
	background:url(../images/home/whatCarBg.png) no-repeat left top;
	padding:18px 0;
}
.whatCar li.last { 
	padding:10px 20px 10px 21px;
	width:655px;
	background-color:#292929;
	margin-top:1px;
}
.whatCar h5 {	
	font:normal 16px/20px Tahoma;
	color:#fffefe;
	margin-bottom:4px;
}
.whatCar p {	
	font:normal 13px/17px Tahoma;
	color:#9f9f9f;
	letter-spacing:0.7px;
}
.app {
	background:url(../images/home/mobilebanner.png) no-repeat left top;
	padding:7px 10px 8px 20px;
	font-family:Tahoma;
	font-style:italic;
	margin-bottom:10px;
	cursor: pointer;
}
.app:hover {
	text-decoration: none;
}
.stayupdate {
	font-size:18px;
	color:#d0d0d0;
	margin-right:160px
}
.app strong {
	color:#FFFFFF;
	font-size:28px;
	line-height:44px;
}
.teamApp{
	font-size:18px;
	color:#FFFFFF;
	margin-right:10px
}
.freeDownBtn {
	background:url(../images/home/freeDwnBtn.png) repeat-x left top;
	padding:6px 0 6px 0;
	color:#FFFFFF;
	font-size:14px;
	font-weight:bold;
	font-style:normal;
	display:block;
	float:right;
	text-align:center;
	margin-right:10px;
	height:37px;
	width:102px;
}
.freeDownBtn em {
	display:block;
	font-style:normal;
}
.appLeftBox{
	float:left;
	width:780px;
}
.freeDownBtn:hover{
	text-decoration:none;
}

/* @end */

/* @group homeTravel Style */
.homeTravel {
	height:269px;
	/*background:url(../images/home/travelBg.jpg) no-repeat left top;*/
	cursor: pointer;
	display: block;
	overflow: hidden;
	border: solid #F1F1F3 1px;
}
.travels h4 {
	font:bold 24px/28px Tahoma;
	color:#383737;
}
.travels p {
	font:normal 14px/18px Tahoma;
	color:#383737;
	width:210px;
}
.homeTravel1 {
	height:270px;
	border:1px solid #ccc;
	margin-bottom:31px;
	position: relative;
}
.travels{
	position: absolute;
	left: 25px;
	top: 20px;
}
.homeTravel1 h4 {
	font:bold 24px/28px Tahoma;
	color:#383737;
}
.homeTravel1 p {
	font:normal 14px/18px Tahoma;
	color:#383737;
	width:210px;
}
.homeTra {
	position: relative;
	height: 270px;
	margin-bottom: 10px;
	cursor:pointer;
}
.homeTra a:hover {
	text-decoration: none;
}
.travelList {
	float:right;
	margin-top:30px;
	padding:5px 15px;
	background:url(../images/home/travelListBg.png) repeat;
	position: absolute;
	right: 20px;
	top: 20px;
}
.travelList li {
	border-bottom:1px solid #5a5959;
	padding:7px 5px;
}
.travelList li:last-child {
	border:none;
}
.travelList a {
	font:normal 14px/18px Tahoma;
	color:#fff;
}
.travelList a:hover {
	text-decoration:underline;
}
/* @end */

/* @group primBlock Style */
.primBlock h4 {
	padding:0 1px 1px 20px;
	border:1px solid #cbcaca;
	background:url(../images/home/primBlockRedBg.png) no-repeat 1px top;
}
.primBlock h4 span {
	display:block;
	font:bold 18px/22px Tahoma;
	color:#000;
	padding:8px 0;
	background:url(../images/home/primBlockHeadBg.png) repeat-x left top;
}
.primBlockPad {
	padding:10px;
	border:1px solid #cbcaca;
	border-top:none;
	background-color:#fff;
}
.normalList li {
	border-bottom:1px solid #d5d0b4;
	margin-bottom:8px;
	padding:0 7px 8px 7px;
}
/*.normalList li:last-child {
	border-bottom:none;
	margin-bottom:0;
	padding-bottom:0;
	}*/
.normalList a {
	font:normal 14px/18px Tahoma;
	color:#333;
}
.normalList a:hover {
	color:#000;
	text-decoration:underline;
}
/* @end */

/* @group safetyBlock Style */
.safetyBlock {
	background:#fece0e url(../images/home/safetyBg.png) repeat-x left top;
	border:1px solid #c29315;
	padding:79px 0 10px;
}
.safetyBlock ul {
	border-top:1px solid #d6af0b;
	border-bottom:1px solid #ffff00;
	margin-bottom:10px;
}	
.safetyBlock li {
	border-bottom:1px solid #d6af0b;
	border-top:1px solid #ffff00;
	padding:3px 0 4px  25px;
	background-position:10px -2473px;
}
.safetyBlock li a {
	font:normal 14px/18px Tahoma;
	color:#000;
	
}
.safetyBlock li a:hover {
	text-decoration:underline;
}
/* @end */

/* @group vintageCars Style */
.vintageCars {
	padding:9px 5px;
	border:1px solid #cbcaca;
	background-color:#fff;
	margin-bottom:10px;
}
.vintageCars .picBox {
	width:290px;
	height:228px;
	_height:225px;
	overflow:hidden;
}
.vintageBtn {
	margin-right:5px;
}
.vintageBtn li {
	float:left;
	width:11px;
	height:11px;
	margin-left:10px;
	cursor:pointer;
	background-color:#cecece;
	padding:1px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	-khtml-border-radius:2px;
	border-radius:2px;
}
.vintageBtn li.active {
	border:1px solid #868686;
	padding:0;
	background-color:#A91926;
}
/* @end */