#lightbox{
	position: absolute;
	top: 20px;
	left: 0;
	width: 100%;
	z-index: 9995;
	text-align: center;
	line-height:0px;
	color:#151410;
	height:0px;
}

#lightbox a, #lightbox a:hover {
	border-bottom:none;
	color:#151410;
	text-decoration:underline;
}

#lightbox a img{ border: none; }

#outerImageContainer{
	position: relative;
	background-color: #fff;
	width: 250px;
	height: 250px;
	margin: 0 auto;
	z-index: 9999;
}

#imageContainer{
	padding:10px;
}
#imageContainer img {
	display:block;
}
#loading{
	position: absolute;
	top: 40%;
	left: 0%;
	height: 25%;
	width: 100%;
	text-align: center;
	line-height: 0;
	}
#loadingLink {
	display:block;
	margin:0 auto;
	padding:0;
	width:32px;
	height:32px;
	background:url("images/loading.gif") center center no-repeat;
	text-indent:-9999px;
}
#hoverNav{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 10;
	}
#imageContainer>#hoverNav{ left: 0;}
#hoverNav a{ outline: none;}

#prevLinkImg, #nextLinkImg{
	width: 49%;
	height: 100%;
	background: transparent url("images/blank.gif") no-repeat; /* Trick IE into showing hover */
	display: block;
	text-indent:-9999px;
	}
#prevLinkImg { left: 0; float: left;}
#nextLinkImg { right: 0; float: right;}
#prevLinkImg:hover, #prevLinkImg:visited:hover { background: url("images/prevlabel.png") 20px 50% no-repeat; }
#nextLinkImg:hover, #nextLinkImg:visited:hover { background: url("images/nextlabel.png") right 50% no-repeat; }


#imageDataContainer{
	font-family: 'Tahoma', 'Arial';
	font-size: 13px;
	background-color: #fff;
	margin: 0 auto;
	line-height:1.4em;
	z-index: 9999;
}

#imageData{
	padding:0 10px;
}
#imageDetails{ width: 70%; float: left; text-align: left; }	
#caption { 
	font:bold 10px/14px tahoma;
	color:#333;
}
#numberDisplay { 
	display: block; 
	clear: left; 
	font:normal 10px/14px tahoma;
	color:#333;
}
			
#detailsNav { 
	display: block; 
	clear: left; 
	padding:0 0 10px 0;	
	font:normal 9px/14px tahoma;
	color:#333;
}	
#prevLinkDetails { margin:0 8px 0 0; }
#nextLinkDetails { margin:0 8px 0 0; }
#slideShowControl { margin:0 8px 0 0; }
#close {
	 position: absolute;
    right: -17px;
    top: -11px;
    z-index: 999;
}
#closeLink {
	display:block;
	text-decoration:none;
	width:34px;
	height:32px;
	background:url("images/closelabel.png") no-repeat;
	text-indent:-9999px;
	overflow:hidden;
}	
		
#overlay{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9994;
	width: 100%;
	height: 500px;
	background-color: #151410;
	filter:alpha(opacity=60);
	-moz-opacity: 0.6;
	opacity: 0.6;
}
	
.clearfix:after {
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;
	}

* html>body .clearfix {
	display: inline-block; 
	width: 100%;
	}

* html .clearfix {
	/* Hides from IE-mac \*/
	height: 1%;
	/* End hide from IE-mac */
	}	
	